.section {
    padding-block: var(--section-padding-y);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: var(--color-dark-alt);

        &:not(:last-child) {
            margin-bottom: 50px;

            @include mobile {
                margin-bottom: 25px;
            }
        }
    }

    &__description {
        @include fluid-text(32, 24);

        text-align: center;

        &:not(:last-child) {
            margin-bottom: 100px;

            @include mobile {
                margin-bottom: 50px;
            }
        }
    }
}
